@import "bootstrap/scss/bootstrap";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(2deg, #ccc 40%, transparent 35%, transparent 96%, #ccc 14%, #ccc), linear-gradient(87deg, #ccc 25%, white 113%, white -82%, #ccc 7%, #ccc);
    background-size: 43px 44px;
}